<plugin name='yui' version='2.5.2' grailsVersion='1.1.1 &gt; *'>
  <author>Marcel Overdijk</author>
  <authorEmail>marceloverdijk@gmail.com</authorEmail>
  <title>Yahoo! User Interface Library (YUI)</title>
  <description>Provides integration with the Yahoo! UI Library</description>
  <documentation>http://grails.org/YUI+Plugin</documentation>
  <resources>
    <resource>YuiTagLib</resource>
  </resources>
  <dependencies />
</plugin>