<plugin name='http-nocache' version='0.1' grailsVersion='1.1.1 &gt; *'>
  <author>nobeans</author>
  <authorEmail>nobeans@gmail.com</authorEmail>
  <title>filter for setting no-cache to http response</title>
  <description>\
This plugin has only one Filter to set no-cache.
It's very simple.
</description>
  <documentation>http://grails.org/HttpNocache+Plugin</documentation>
  <resources>
    <resource>HttpNoCacheFilters</resource>
  </resources>
  <dependencies />
</plugin>