@charset "utf-8";

/* General */

html * {
    margin: 0;
    text-align: left;
    border-collapse: collapse;

    /* 全要素の基本フォントサイズを統一して、扱いやすくする。 */
    /* IEでのフォントサイズが不安定になる事象を抑止する効果もある。 */
    font-size: 100%;
}
html {
    position: relative;
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    background: #fff;
    color: #555;
    font-family: verdana, arial, helvetica, sans-serif;
}

a:link, a:visited {
    color: #669;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding: 2px 15px;
    color: #555;
    font-weight: bold;
    font-size: 2em;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #fff;
    border: 1px solid #bbb;
    margin: 0;
    padding: 2px 4px;
    vertical-align: middle;
    color: #555;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
    width: 250px;
    height: 100px;
    vertical-align: top;
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
    background-color: #feb;
}
}
label {
    vertical-align: middle;
}

pre {
    font-family: verdana, arial, helvetica, sans-serif;
}

img {
    vertical-align: middle;
    background-color: transparent;
    border: 0;
}
img.button,
input.image {
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.body {
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0 2em;
}
.body h1 {
    font-size: 1.5em;
    margin: 15px 0 5px 0;
    padding: 0;
}

.clickable {
    cursor: pointer;
}

.wordBreak {
    word-break: break-all;
}

/* Navigation Menu */

.nav {
    position: relative;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    border-style: solid none solid none;
    padding: 3px 18px;
    overflow: hidden;
}
.nav * {
    font-size: .98em;
}
.nav ul {
    display: inline;
    list-style-type: none;
}
.nav li {
    margin: 0;
    padding: 8px;
}
.nav #login-info {
    position: absolute;
    top: 3px;
    right: 2em;
}
.nav #login-info li {
    margin: 0;
    padding: 0;
}
.nav #login-info img {
    margin: -2px 4px 0 0;
}
* html .nav #login-info img,
*:first-child+html .nav #login-info img {
    margin: 2px 4px 0 0;
}

.menuButton {
    display: inline;
    padding: 4px 8px;
}
.menuButton .home {
    background: url(../images/skin/house.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton .list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton .create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton.active {
    background-color: #777;
    color: #fff;
}
.menuButton.active a {
    font-weight: normal;
    color: #fff;
}
.menuButton a,
.menuButton input {
    color: #555;
}
.menuButton a:hover {
    text-decoration: none;
}

/* Messages and Errors */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border-left: 1px solid #b2d1ff;
    border-right: 1px solid #b2d1ff;
    border-bottom: 1px solid #b2d1ff;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px;
    color: #006dba;
}

div.errors {
    background: #fff3f3;
    border-left: 1px solid #f88;
    border-right: 1px solid #f88;
    border-bottom: 1px solid #f88;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px;
    color: #cc0000;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    vertical-align: middle;
    padding-left: 30px;
    line-height: 1.5em;
}

td.errors select {
    border: 1px solid #f88;
}
td.errors input {
    border: 1px solid #f88;
}

/* Tables */

table {
    position: relative;
    border: 1px solid #bbb;
    border-spacing: 0;
    padding: 5px;
    empty-cells: show;
    width: 100%;
    background-color: #fff;
}
td {
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 1.05em;
    text-align: left;
    padding: 3px 6px;
}
th {
    background: transparent url(../images/skin/shadow.jpg) bottom repeat-x;
    line-height: 1.3em;
    text-align: left;
    padding: 3px 6px;
    vertical-align: baseline;
    white-space: nowrap;
    font-weight: normal;
}
th a:link, th a:visited, th a:hover {
    display: block;
    width: 100%;
    color: #555;
    text-decoration: none;
}
th.asc a, th.desc a {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: .7em;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

/* List */

.list table {
    position: relative;
    margin: 0;
    padding: 0;
}
* html .list table,
*:first-child+html .list table {
    margin-bottom: -1px;
}
.list td {
    border-top: 1px dotted #bbb;
    border-bottom: 1px dotted #bbb;
    padding: 3px 5px 3px 5px;
    vertical-align: middle;
}
.list th {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    white-space: nowrap;
    vertical-align: middle;
    font-size: .9em;
}
.list tr:hover {
    background: #ddf;
}

/* Pagination */

.paginateButtons {
    position: relative;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    padding: 3px 6px;
    height: 1em;
    vertical-align: baseline;
    margin-left: -1px;
    margin-top: -1px;
}
.paginateButtons * {
    font-size: .85em;
}
* html .paginateButtons,
*:first-child+html .paginateButtons {
    margin-left: 0px;
}
.paginateButtons.top {
    margin-bottom: -1px;
}
.paginateButtons.bottom {
    margin-top: -1px;
}
.paginateButtons a {
    margin: 0 3px;
    padding: 0px 3px;
}
.paginateButtons .currentStep {
    padding: 0px 5px;
    color: #f60;
    font-weight: bold;
}
.paginateButtons .count {
    padding: 0px 3px;
    position: absolute;
    right: 4px;
}

/* Dialog */

.dialog table {
    padding: 5px 0;
    background: #eee url(../images/slash.png) repeat;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: right;
    vertical-align: middle;
    width: 15%;
    white-space: nowrap;
    font-weight: bold;
    background: transparent;
}
.prop .value {
    text-align: left;
    vertical-align: middle;
    width: auto;
    background: #fff;
}
.prop .caption {
    font-size: .9em;
    margin-left: .5em;
}

/* Action Buttons */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 2px;
}
* html .buttons,
*:first-child+html .buttons {
    margin-left: 0;
}
.buttons * {
    font-size: .96em;
}
.buttons form {
    display: inline;
    margin: 0;
}
.buttons input {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 1.5em;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 1.5em;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 1.5em;
}
.buttons input.search {
    background: transparent url(../images/search.png) 5px 50% no-repeat;
    padding-left: 1.5em;
    width: 15em;
}
.button input {
    text-align: center;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

/* Yahoo UI */

#period-oneday-date-text {
    width: 7em;
}
#period-oneday-date-calendar {
    display: none;
    position: absolute;
    width: 230px;
    z-index: 9;
}
#period-oneday-date-calendar .yui-calendar {
    font-size: 1.3em;
}

/* Header */

.header {
    position: relative;
    margin: 0;
    padding: 0;
}
.header h1 {
    margin: 0;
    padding: 0;
}
.header #analog {
    display: none;
}
* html .header #analog,
*:first-child+html .header #analog {
    position: absolute;
    top: .5em;
    right: .5em;
    display: block;
    background: #ddd;
    margin: 10px;
    padding: 8px 10px 5px 10px;
    border: 1px solid #555;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    filter:progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=60);
}

/* Footer */

.footer {
    position: relative;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #bbb;
    background-color: #fff;
    font-style: italic;
    height: 1.5em;
}
.footer #linkToTop {
    position: absolute;
    left: 1em;
    width: 5em;
}
.footer #poweredBy {
    position: absolute;
    text-align: right;
    right: 1em;
    width: 20em;
}

/* MixedViewer */

.mixedViewer .search {
    position: relative;
    margin: 15px 0;
    padding: 3px 10px;
    background: #eee url(../images/slash.png) repeat;
    border: 1px solid #ccc;
}
.mixedViewer .search * {
    font-size: .96em;
}
.mixedViewer .search .searchItem {
    margin-left: .8em;
}
.mixedViewer .search #period-oneday-date-text {
    width: 6em;
}
.mixedViewer .search #search-channel {
    width: 6em;
}
.mixedViewer .search #search-nick {
    width: 6em;
}
.mixedViewer .search #search-message {
    width: 12em;
}
.mixedViewer .search #search-type-label {
    margin-left: 4px;
}
.mixedViewer .search #search-submit-label {
    cursor: pointer;
}
.mixedViewer .search #search-clear-label {
    background: transparent;
    cursor: pointer;
    border: 0;
}
* html .mixedViewer .search #search-clear-label,
*:first-child+html .mixedViewer .search #search-clear-label {
    width: 7em;
}

/* SingleViewer */

.singleViewer .caption {
    padding: 15px 0 5px 0;
    line-height: 1.5em;
    font-size: 1.5em;
}
.singleViewer .caption select,
.singleViewer .caption option {
    font-size: 1em;
    vertical-align: baseline;
}
.singleViewer .caption img {
    vertical-align: middle;
    margin: 0 -2px;
}
.singleViewer .optionButtons {
    position: absolute;
    right: 4px;
    line-height: .9em;
}
.singleViewer .optionButtons button {
    font-size: .8em;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid #aaa;
    background-color: #ddd;
    margin: 0 2px;
    text-align: center;
    color: #333;
}
.singleViewer .optionButtons button:disabled {
    background-color: #ddd;
    color: #999;
}
* html .singleViewer .optionButtons button,
*:first-child+html.singleViewer .optionButtons button {
    width: 1em;
}

/* Viewer (Mixed/Single) */

.viewer .list {
    position: relative;
    margin: 0;
}
* html .viewer .list,
*:first-child+html .viewer .list {
    z-index: -1;
}
.viewer .list table td {
    padding: 1px 10px 1px 5px;
}
.viewer .list td.irclog-time {
    white-space: nowrap;
}
.viewer .list td.irclog-channel {
}
.viewer .list td.irclog-nick {
    text-align: right;
}
.viewer .list td.irclog-message {
    width: 90%;
    white-space: pre-wrap;
}
.viewer .list td.irclog-type {
    width: 5em;
}
.viewer .list td strong {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

.viewer .list tr.PRIVMSG td.irclog-message {
    font-style: normal;
    background-color: transparent;
}
.viewer .list tr.NOTICE td.irclog-message {
    font-style: italic;
    background-color: #ffd;
    padding-left: 4em;
}
.viewer .list tr.TOPIC td.irclog-message {
    color: #c33;
    font-weight: bold;
    background-color: #fdd;
}
.viewer .list tr.optionType td.irclog-message {
    color: #888;
    font-style: italic;
    text-align: right;
    background-color: #efefef;
}
.viewer .list tr.KICK td.irclog-message {
    color: red;
}

.viewer .list tr.highlight {
    background-color: #ff0;
}
.viewer .list tr.highlight.PRIVMSG td.irclog-message {
    background-color: #ff0;
}
.viewer .list tr.highlight.NOTICE td.irclog-message {
    background-color: #fe8;
}
.viewer .list tr.highlight.TOPIC td.irclog-message {
    background-color: #fb7;
}
.viewer .list tr.highlight.optionType td.irclog-message {
    background-color: #ee9;
}

.viewer .list tr:hover {
    background: #ddf;
}
.viewer .list tr:hover.PRIVMSG td.irclog-message {
    background: #ddf;
}
.viewer .list tr:hover.NOTICE td.irclog-message {
    background: #dcf;
}
.viewer .list tr:hover.TOPIC td.irclog-message {
    background: #baf;
}
.viewer .list tr:hover.optionType td.irclog-message {
    background: #dde;
}

.viewer .list tr:hover.highlight {
    background-color: #dbf;
}
.viewer .list tr:hover.highlight.PRIVMSG td.irclog-message {
    background-color: #dbf;
}
.viewer .list tr:hover.highlight.NOTICE td.irclog-message {
    background-color: #bad;
}
.viewer .list tr:hover.highlight.TOPIC td.irclog-message {
    background-color: #98d;
}
.viewer .list tr:hover.highlight.optionType td.irclog-message {
    background-color: #ccd;
}

/* Channel */

.channel .caption {
    padding: 5px 0 8px 0;
    line-height: 1.5em;
}
.channel .searchAllLogs {
    width: 1em;
}
#joinToSecretChannel {
    position: absolute;
    border-left: 1px solid #bbb;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: .5em 1em;
    background: #eee url(../images/slash.png) repeat;
}
#joinToSecretChannel .button input {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
}

/* Login */

#login {
    margin: 15px 0px; padding:0px;
    text-align: center;
    font-size: 2em;
}
#login .inner {
    width: 500px;
    text-align: left;
    padding: 10px;
    border:1px solid #ccc;
    background: #eee url(../images/slash.png) repeat;
    margin-left: auto;
    margin-right: auto;
}
#login .inner .cssform p {
    padding: 5px 0 5px 10px;
    margin: .4em;
}
#login .inner .cssform label {
    font-weight: bold;
}
#login .inner .cssform .button {
    text-align: center;
}
#login .inner .login_message {
    color:red;
}
#login .inner .text_ {
    width: 8em;
}
#login .inner .chk {
    height:12px;
}
#login .inner .button input {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
}
