@charset "utf-8";

/* General */

html * {
    margin: 0;
    font-size: 100%; /* IEでのフォントサイズが不安定になる事象を抑止するため */
    font-size: 14px; /* FIXME:微調整 */
}

html {
    position: relative;
    width: 100%;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

body {
    position: relative;
    background: #fff;
    color: #555;
    font-family: verdana, arial, helvetica, sans-serif;
    width: 100%;
    text-align: center;
}
body * {
    text-align: left;
}

a:link, a:visited {
    color: #779;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding: 2px 15px;
    color: #888;
    font-weight: bold;
    font-size: 200%;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #fcfcfc;
    border: 1px solid #bbb;
    margin: 0;
    padding: 2px 4px;
    vertical-align: middle;
    color: #555;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
    width: 250px;
    height: 100px;
    vertical-align: top;
}
label {
    vertical-align: middle;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

pre {
    font-family: verdana, arial, helvetica, sans-serif;
}

img {
    vertical-align: middle;
    background-color: transparent;
    border: 0;
}
img.button,
input.image {
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.body {
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 95%;
}
.body h1 {
    font-size: 140%;
    margin: 15px 0 5px 0;
    padding: 0;
}

.clickable {
    cursor: pointer;
}

.wordBreak {
    word-break: break-all;
}

/* Navigation Menu */

.nav {
    position: relative;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    border-style: solid none solid none;
    padding: 3px 12px;
    overflow: hidden;
    font-size: 90%;
}
.nav #login-info {
    position: absolute;
    right: 15px;
    padding: 0px 3px;
}
* html body .nav #login-info {
    padding: 1px 3px;
}
.nav #login-info img {
    margin-right: 3px;
    vertical-align: bottom;
}
.nav ul {
    display: inline;
    list-style-type: none;
}

.menuButton {
    display: inline;
    font-weight: bold;
    padding: 4px 8px;
}
.menuButton .home {
    background: url(../images/skin/house.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton .list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton .create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton.active {
    background-color: #ddd;
}
.menuButton a,
.menuButton input {
    color: #555;
}
.menuButton a:hover {
    text-decoration: none;
}

/* Messages and Errors */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border-left: 1px solid #b2d1ff;
    border-right: 2px solid #b2d1ff;
    border-bottom: 2px solid #b2d1ff;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px;
    color: #006dba;
}

div.errors {
    background: #fff3f3;
    border-left: 1px solid #f88;
    border-right: 2px solid #f88;
    border-bottom: 2px solid #f88;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px;
    color: #cc0000;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    vertical-align: middle;
    padding-left: 30px;
    line-height: 1.5em;
}

td.errors select {
    border: 1px solid #f88;
}
td.errors input {
    border: 1px solid #f88;
}

/* Tables */

table {
    position: relative;
    border: 1px solid #bbb;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    width: 100%
}
tr {
    border: 0;
}
td {
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 1.2em;
    text-align: left;
    padding: 3px 6px;
}
th {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    font-weight: bold;
    line-height: 1.3em;
    text-align: left;
    padding: 3px 6px;
    vertical-align: baseline;
    white-space: nowrap;
}
th a:link, th a:visited, th a:hover {
    display: block;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}
.odd {
    background: #fff;
}
.even {
    background: #fff;
}

/* List */

.list table {
    position: relative;
    margin: 0;
    padding: 0;
}
* html body .list table {
    margin-bottom: -1px;
}
.list td {
    border-top: 1px dotted #bbb;
    border-bottom: 1px dotted #bbb;
    padding: 3px 5px 3px 5px;
    vertical-align: middle;
}
.list th {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    white-space: nowrap;
    vertical-align: middle;
}
.list tr:hover {
    background: #ddf;
}

/* Pagination */

.paginateButtons {
    position: relative;
    background: transparent url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    overflow: hidden;
    padding: 3px 6px;
    height: 1.2em;
    font-size: 90%;
    vertical-align: baseline;
}
* html body .paginateButtons {
    height: 2em;
}
.paginateButtons.top {
    margin-bottom: -1px;
}
.paginateButtons.bottom {
    margin-top: -1px;
}
.paginateButtons a {
    margin: 0 3px;
    padding: 0px 3px;
}
.paginateButtons .currentStep {
    padding: 0px 5px;
    color: #f60;
    font-weight: bold;
}
.paginateButtons .count {
    padding: 0px 3px;
    position: absolute;
    right: 4px;
}

/* Dialog */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: right;
    vertical-align: middle;
    width: 15%;
    white-space: nowrap;
    background: #eee;
    font-weight: bold;
}
.prop .value {
    text-align: left;
    vertical-align: middle;
    width: 85%;
}

/* Action Buttons */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    overflow: hidden;
    margin: 10px 0 0 0;
    padding: 2px;
}
.buttons form {
    display: inline;
    margin: 0;
}
.buttons input {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    overflow: visible;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.button input {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 6px;
}

/* Yahoo UI */

#period-oneday-date-text {
    width: 7em;
}
#period-oneday-date-calendar {
    display: none;
    position: absolute;
    width: 240px;
    z-index: 9;
}

/* Header */

.header {
    position: relative;
    margin: 0;
    padding: 10px;
}
.header h1 {
    font-size: 3.8em;
}
.header img.badge {
    vertical-align: top;
}
.header #analog {
    display: none;
}
* html .header #analog {
    position: absolute;
    top: .5em;
    right: .5em;
    display: block;  
    background: #ddd;  
    padding: 8px 10px 5px 10px;
    border: 1px solid #555;  
    font-size: 15px;  
    font-weight: bold;  
    color: #555;  
    filter:progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=60);   
}

/* Footer */

.footer {
    clear: both;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #bbb;
    background-color: #fff;
    font-style: italic;
    height: 1.5em;
}
.footer #linkToTop {
    position: absolute;
    left: 1em;
}
.footer #poweredBy {
    position: absolute;
    right: 1em;
}

/* MixedViewer */

.mixedViewer .search {
    position: relative;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    font-size: 95%;
    margin: 15px 0;
    padding: 2px 10px;
}
.mixedViewer .search .searchItem {
    margin-left: .8em;
}
.mixedViewer .search #period-oneday-date-text {
    width: 6em;
}
.mixedViewer .search #search-nick {
    width: 6em;
}
.mixedViewer .search #search-message {
    width: 14em;
}
.mixedViewer .search #search-submit-label {
    cursor: pointer;
}
.mixedViewer .search #search-clear {
    background: transparent;
    cursor: pointer;
    border: 0;
}

/* SingleViewer */

.singleViewer .caption {
    padding: 15px 0 5px 0;
    line-height: 1.5em;
    font-size: 1.5em;
}
.singleViewer .caption select,
.singleViewer .caption option {
    font-size: 1em;
    vertical-align: baseline;
}
.singleViewer .caption img {
    vertical-align: middle;
    margin: 0 -2px;
}
.singleViewer .optionButtons {
    position: absolute;
    right: 4px;
}
.singleViewer .optionButtons button {
    font-size: .8em;
    vertical-align: top;
    cursor: pointer;
}

/* Viewer (Mixed/Single) */

.viewer .list {
    position: relative;
    margin: 0;
}
* html body .viewer .list { /* Hack for IE6 */
    z-index: -1;
}
.viewer .list table td {
    padding: 1px 10px 1px 5px;
}
.viewer .list .irclog-time {
    white-space: nowrap;
}
.viewer .list .irclog-channel {
}
.viewer .list .irclog-nick {
    text-align: right;
}
.viewer .list td.irclog-message {
    width: 90%;
    white-space: pre-wrap;
}
.viewer .list .irclog-type {
    width: 5em;
}
.viewer .list td strong {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

.viewer .list .this {
    background-color: #ff0;
}
.viewer .list tr:hover.this {
    background-color: #dbf;
}

.viewer .list .PRIVMSG td.irclog-message {
    font-style: normal;
    background-color: transparent;
}
.viewer .list .NOTICE td.irclog-message {
    font-style: italic;
    background-color: #ffd;
    padding-left: 4em;
}
.viewer .list .TOPIC td.irclog-message {
    color: #c33;
    font-weight: bold;
    background-color: #fdd;
}
.viewer .list .optionType td.irclog-message {
    color: #888;
    font-style: italic;
    text-align: right;
    background-color: #efefef;
}
.viewer .list .KICK td.irclog-message {
    color: red;
}

.viewer .list .this.NOTICE td.irclog-message {
    background-color: #fe8;
}
.viewer .list .this.TOPIC td.irclog-message {
    background-color: #fb7;
}
.viewer .list .this.optionType td.irclog-message {
    background-color: #ee9;
}

.viewer .list tr:hover.NOTICE td.irclog-message {
    background: #dcf;
}
.viewer .list tr:hover.TOPIC td.irclog-message {
    background: #baf;
}
.viewer .list tr:hover.optionType td.irclog-message {
    background: #dde;
}

.viewer .list tr:hover.this.NOTICE td.irclog-message {
    background-color: #bad;
}
.viewer .list tr:hover.this.TOPIC td.irclog-message {
    background-color: #98d;
}
.viewer .list tr:hover.this.optionType td.irclog-message {
    background-color: #ccd;
}

/* Channel */

.channel .caption {
    padding: 5px 0 8px 0;
    line-height: 1.5em;
}
.channel .searchAllLogs {
    width: 1em;
}
#joinToSecretChannel {
    position: absolute;
    border-left: 1px solid #bbb;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    margin: 0 0 15px 0;
    padding: 10px;
    background-color: #eee;
    float: left;
}

/*
div { border : 1px dotted red; }
span { border : 1px dotted blue; }
*/
