@charset "utf-8";

/* General */

html * {
    margin: 0;
    text-align: left;
    border-collapse: collapse;

    /* 全要素の基本フォントサイズを統一して、扱いやすくする。 */
    /* IEでのフォントサイズが不安定になる事象を抑止する効果もある。 */
    font-size: 100%;
}
html {
    position: relative;
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    background: #fff;
    color: #555;
    font-family: verdana, arial, helvetica, sans-serif;
}

a:link, a:visited {
    color: #669;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding: 2px 15px;
    color: #555;
    font-weight: bold;
    font-size: 2em;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #fff;
    border: 1px solid #bbb;
    margin: 0;
    padding: 2px 4px;
    vertical-align: middle;
    color: #555;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
    width: 250px;
    height: 100px;
    vertical-align: top;
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
    background-color: #feb;
}
}
label {
    vertical-align: middle;
}

pre {
    font-family: verdana, arial, helvetica, sans-serif;
}

img {
    vertical-align: middle;
    background-color: transparent;
    border: 0;
}
img.button,
input.image {
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.body {
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0 2em;
}
.body h1 {
    font-size: 1.5em;
    margin: 15px 0 5px 0;
    padding: 0;
}

.clickable {
    cursor: pointer;
}

.print {
    display: none;
}

.wordBreak {
    word-break: break-all;
}

.with-help {
    margin: 1em 0 .3em 0;
    padding: 0;
}
.with-help * {
    display: inline;
    vertical-align: baseline;
}
.with-help .help-button {
    cursor: pointer;
}
.help-caption {
    display: block;
    margin: .2em 0 1em 1em;
    padding: .5em 1.5em;
    width: 80%;
    line-height: 1.5em;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #dd8;
    background-color: #ffd;
}

/* Navigation Menu */

.nav {
    position: relative;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    border-style: solid none solid none;
    padding: 3px 18px;
    overflow: hidden;
}
.nav * {
    font-size: .98em;
}
.nav ul {
    display: inline;
    list-style-type: none;
}
.nav li {
    margin: 0;
    padding: 4px 8px;
}
.nav #login-info {
    position: absolute;
    top: 3px;
    right: 2em;
}
.nav #login-info li {
    margin: 0;
    padding: 0;
}
.nav #login-info img {
    margin: -2px 4px 0 0;
}
* html .nav #login-info {
    top: 10px;
}
* html .nav #login-info img {
    margin: 2px 4px 0 0;
}
*:first-child+html .nav #login-info img {
    margin: 2px 4px 0 0;
}

.menuButton {
    display: inline;
    padding: 4px 8px;
}
.menuButton .home {
    background: url(../images/skin/house.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton .list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton .create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    padding-left: 25px;
}
.menuButton.active {
    background-color: #777;
    color: #fff;
}
.menuButton.active a {
    font-weight: normal;
    color: #fff;
}
.menuButton a,
.menuButton input {
    color: #555;
}
.menuButton a:hover {
    text-decoration: none;
}

/* Messages and Errors */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border-left: 1px solid #b2d1ff;
    border-right: 1px solid #b2d1ff;
    border-bottom: 1px solid #b2d1ff;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px;
    color: #006dba;
}

div.errors {
    background: #fff3f3;
    border-left: 1px solid #f88;
    border-right: 1px solid #f88;
    border-bottom: 1px solid #f88;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px;
    color: #cc0000;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    vertical-align: middle;
    padding-left: 30px;
    line-height: 1.5em;
}

td.errors select {
    border: 1px solid #f88;
}
td.errors input {
    border: 1px solid #f88;
}

/* Tables */

table {
    position: relative;
    border: 1px solid #bbb;
    border-spacing: 0;
    padding: 5px;
    empty-cells: show;
    width: 100%;
    background-color: #fff;
}
td {
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 1.05em;
    text-align: left;
    padding: 3px 6px;
}
th {
    background: transparent url(../images/skin/shadow.jpg) bottom repeat-x;
    line-height: 1.3em;
    text-align: left;
    padding: 3px 6px;
    vertical-align: baseline;
    white-space: nowrap;
    font-weight: normal;
}
th a:link, th a:visited, th a:hover {
    display: block;
    width: 100%;
    color: #555;
    text-decoration: none;
}
th.asc a, th.desc a {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 10px;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

/* List */

.list table {
    position: relative;
    margin: 0;
    padding: 0;
}
* html .list table {
    margin-bottom: -1px;
}
*:first-child+html .list table {
    margin-bottom: -1px;
}
.list td {
    border-top: 1px dotted #bbb;
    border-bottom: 1px dotted #bbb;
    padding: 3px 5px 3px 5px;
    vertical-align: middle;
}
.list th {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    white-space: nowrap;
    vertical-align: middle;
    font-size: .9em;
}
html>/**/body .list tr:hover {
    background: #ddf;
}

/* Pagination */

.paginateButtons {
    position: relative;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    padding: 3px 6px;
    height: 1em;
    vertical-align: baseline;
    margin-left: -1px;
    margin-top: -1px;
}
.paginateButtons * {
    font-size: .85em;
}
* html .paginateButtons {
    margin-left: 0px;
}
*:first-child+html .paginateButtons {
    margin-left: 0px;
}
.paginateButtons.top {
    margin-bottom: -1px;
}
.paginateButtons.bottom {
    margin-top: -1px;
}
.paginateButtons a {
    margin: 0 3px;
    padding: 0px 3px;
}
.paginateButtons .currentStep {
    padding: 0px 5px;
    color: #f60;
    font-weight: bold;
}
.paginateButtons .count {
    padding: 0px 3px;
    position: absolute;
    right: 4px;
}

/* Dialog */

.dialog table {
    padding: 5px 0;
    background: #eee url(../images/slash.png) repeat;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: right;
    vertical-align: middle;
    width: 15%;
    white-space: nowrap;
    font-weight: bold;
    background: transparent;
}
.prop .value {
    text-align: left;
    vertical-align: middle;
    width: auto;
    background: #fff;
}
.prop .caption {
    font-size: .85em;
    margin-left: .5em;
    background: #fff;
    line-height: 1.3em;
}

/* Action Buttons */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #bbb;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 2px;
}
* html .buttons {
    margin-left: 0;
}
*:first-child+html .buttons {
    margin-left: 0;
}
.buttons * {
    font-size: .96em;
}
.buttons form {
    display: inline;
    margin: 0;
}
.buttons input {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 1.5em;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 1.5em;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 1.5em;
}
.buttons input.search {
    background: transparent url(../images/search.png) 5px 50% no-repeat;
    padding-left: 1.5em;
    width: 15em;
}
.button input {
    text-align: center;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

/* Header */

.header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 113px;
}
.header h1 {
    margin: 0;
    padding: 0;
}
.header #analog {
    display: none;
}
* html .header #analog {
    position: absolute;
    top: .5em;
    right: .5em;
    display: block;
    background: #ddd;
    margin: 10px;
    padding: 8px 10px 5px 10px;
    border: 1px solid #555;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    filter:progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=60);
}

/* Footer */

.footer {
    position: relative;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #bbb;
    background-color: #fff;
    font-style: italic;
    height: 1.5em;
}
.footer #linkToTop {
    position: absolute;
    left: 1em;
    width: 5em;
}
.footer .right {
    position: absolute;
    text-align: right;
    right: 1em;
    width: 20em;
    top: 5px;
}
.footer .right div {
    text-align: right;
}

/* MixedViewer */

.mixedViewer .search {
    position: relative;
    margin: 15px 0;
    padding: 3px 10px;
    background: #eee url(../images/slash.png) repeat;
    border: 1px solid #ccc;
}
.mixedViewer .search  {
    font-size: .96em;
}
.mixedViewer .search label,
.mixedViewer .search input,
.mixedViewer .search img {
    font-size: .96em;
    vertical-align: middle;
}
.mixedViewer .search .searchItem {
    margin-left: .8em;
}
.mixedViewer .search input.datepicker {
    width: 6.5em;
}
.mixedViewer .search #search-channel {
    width: 6em;
}
.mixedViewer .search #search-nick {
    width: 6em;
}
.mixedViewer .search #search-message {
    width: 12em;
}
.mixedViewer .search #search-type-label {
    margin-left: 4px;
}
.mixedViewer .search #search-submit-label {
    cursor: pointer;
}
.mixedViewer .search #search-clear-label {
    background: transparent;
    cursor: pointer;
    border: 0;
}
* html .mixedViewer .search #search-clear-label {
    width: 7em;
}
*:first-child+html .mixedViewer .search #search-clear-label {
    width: 7em;
}

/* SingleViewer */

.singleViewer .caption {
    padding: 15px 0 5px 0;
    line-height: 1.5em;
    font-size: 1.5em;
}
.singleViewer .caption select,
.singleViewer .caption option {
    font-size: 1em;
    vertical-align: baseline;
}
.singleViewer .caption img {
    vertical-align: middle;
    margin: 0 -2px;
}
.singleViewer .optionButtons {
    position: absolute;
    right: 3em;
}
.singleViewer .optionButtons button {
    font-size: .75em;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid #aaa;
    background-color: #ddd;
    margin: 0 2px;
    text-align: center;
    color: #333;
}
.singleViewer .optionButtons button:disabled {
    background-color: #ddd;
    color: #999;
}
* html .singleViewer .optionButtons {
    right: 1em;
}
* html .singleViewer .optionButtons button {
    width: 8em;
    line-height: .8em;
}
*:first-child+html.singleViewer .optionButtons button {
    width: 1em;
}
.singleViewer .list tbody tr {
    cursor: pointer;
}

/* Viewer (Mixed/Single) */

.viewer .list {
    margin: 0;
}
.viewer .list td {
    padding: 1px 10px 1px 5px;
}
.viewer .list td strong { /* deprecated */
    background-color: yellow;
    color: red;
    font-weight: bold;
}
.viewer .list td .highlight {
    background-color: yellow;
    color: red;
    font-weight: bold;
}
.viewer .list .irclog-time {
    white-space: nowrap;
    width: 190px;
}
.viewer .list .irclog-channel {
    white-space: nowrap;
}
.viewer .list .irclog-nick {
    white-space: nowrap;
    text-align: right;
}
.viewer .list td.irclog-message {
    width: 90%;
    white-space: pre-wrap;
}
.viewer .list tr.PRIVMSG td.irclog-message {
    font-style: normal;
    background-color: transparent;
}
.viewer .list tr.NOTICE td.irclog-message {
    font-style: italic;
    background-color: #ffd;
    padding-left: 4em;
}
.viewer .list tr.TOPIC td.irclog-message {
    color: #c33;
    font-weight: bold;
    background-color: #fdd;
}
.viewer .list tr.optionType td.irclog-message {
    color: #888;
    font-style: italic;
    text-align: right;
    background-color: #efefef;
}
.viewer .list tr.KICK td.irclog-message {
    color: red;
}

.viewer .list tr.highlight {
    background-color: #ff0;
}
.viewer .list tr.PRIVMSG.highlight td.irclog-message {
    background-color: #ff0;
}
.viewer .list tr.NOTICE.highlight td.irclog-message {
    background-color: #fe8;
}
.viewer .list tr.TOPIC.highlight td.irclog-message {
    background-color: #fb7;
}
.viewer .list tr.optionType.highlight td.irclog-message {
    background-color: #ee9;
}

html>/**/body .viewer .list tr:hover {
    background: #ddf;
}
html>/**/body .viewer .list tr:hover.PRIVMSG td.irclog-message {
    background: #ddf;
}
html>/**/body .viewer .list tr:hover.NOTICE td.irclog-message {
    background: #dcf;
}
html>/**/body .viewer .list tr:hover.TOPIC td.irclog-message {
    background: #baf;
}
html>/**/body .viewer .list tr:hover.optionType td.irclog-message {
    background: #dde;
}

html>/**/body .viewer .list tr:hover.highlight {
    background-color: #dbf;
}
html>/**/body .viewer .list tr:hover.highlight.PRIVMSG td.irclog-message {
    background-color: #dbf;
}
html>/**/body .viewer .list tr:hover.highlight.NOTICE td.irclog-message {
    background-color: #bad;
}
html>/**/body .viewer .list tr:hover.highlight.TOPIC td.irclog-message {
    background-color: #98d;
}
html>/**/body .viewer .list tr:hover.highlight.optionType td.irclog-message {
    background-color: #ccd;
}

/* Channel */

.channel .caption {
    padding: 0 0 1em 1em;
    line-height: 1.3em;
    font-size: .85em;
}
.channel .searchAllLogs {
    width: 1em;
}
#joinToSecretChannel {
    position: absolute;
    border-left: 1px solid #bbb;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: .5em 1em;
    background: #eee url(../images/slash.png) repeat;
    z-index: 999;
}
#joinToSecretChannel .button input {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
}

/* Login */

#login {
    margin: 15px 0px; padding:0px;
    text-align: center;
    font-size: 2em;
}
#login .inner {
    width: 500px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee url(../images/slash.png) repeat;
    margin-left: auto;
    margin-right: auto;
}
#login .inner .cssform p {
    text-align: center;
    padding: 5px 0 5px 10px;
    margin: .4em;
}
#login .inner .cssform label {
    font-weight: bold;
}
#login .inner .cssform .button {
    text-align: center;
}
#login .inner .login_message {
    color: red;
    font-size: .7em;
    text-align: center;
    padding: 8px 0;
}
#login .inner .text_ {
    width: 8em;
}
#login .inner .rememberMe {
    font-size: .6em;
    padding: 5px;
}
#login .inner .button input {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    padding: 0 .3em;
}

/* Summary */

.summary .caption {
    padding: 0 0 1em 1em;
    line-height: 1.3em;
    font-size: .85em;
}
.summary .summary-topic ul {
    margin-left: 1em;
}
.summary .summary-topic li {
    font-size: .9em;
    margin-bottom: 4px;
}
.summary .summary-statement .searchAllLogs {
    width: 1em;
}
.summary .summary-statement .channel {
    width: auto;
}
.summary .summary-statement th.count a {
    text-align: right;
}
.summary .summary-statement td.count {
    text-align: right;
    padding-right: .5em;
}
.summary .summary-statement .totalCount {
    text-align: right;
    width: 4em;
}
.summary .summary-statement .latestIrclog {
    padding-left: 2em;
}
.summary .summary-statement .latestIrclog .time {
    padding-right: .4em;
    white-space: nowrap;
}


/*------------------------ Grails2.x ---------------------------*/
/* FIXME */

/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */

html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 960px;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}

#grailsLogo {
	background-color: #abbf78;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background: #abbf78;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	background: #E1F2B6;
}

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}
