<plugin name='request-tracelog' version='0.2' grailsVersion='2.2.0 &gt; *'>
  <author>nobeans</author>
  <authorEmail>nobeans@gmail.com</authorEmail>
  <title>filter for debug logging</title>
  <description>\
This plugin has a Filter to output some information of request/response to standard output.
It's useful for debugging.
Logging is active only at development environment.
It's very simple.
</description>
  <type>RequestTracelogGrailsPlugin</type>
  <resources>
    <resource>RequestTracelogFilters</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='https://repository-kobo.forge.cloudbees.com/snapshot/' url='https://repository-kobo.forge.cloudbees.com/snapshot/' />
    <repository name='https://repository-kobo.forge.cloudbees.com/release/' url='https://repository-kobo.forge.cloudbees.com/release/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.spockframework' name='spock-grails-support' version='0.7-groovy-2.0' />
    </test>
    <compile>
      <dependency group='log4j' name='apache-log4j-extras' version='1.1' />
    </compile>
    <runtime>
      <dependency group='postgresql' name='postgresql' version='9.0-801.jdbc4' />
    </runtime>
    <build>
      <dependency group='org.jggug.kobo' name='gircbot' version='0.1-SNAPSHOT' />
    </build>
  </dependencies>
  <plugins>
    <test>
      <plugin group='org.grails.plugins' name='spock' version='0.7' />
    </test>
    <compile>
      <plugin group='org.grails.plugins' name='quartz' version='1.0-RC2' />
      <plugin group='org.grails.plugins' name='coffeescript-resources' version='0.3.5' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='cache' version='1.0.1' />
      <plugin group='org.grails.plugins' name='lesscss-resources' version='1.3.1' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.0' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.2.2' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.0' />
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.15' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='improx' version='0.1' />
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>